.todo-container {
    width: 500px;
    position: absolute;
    margin-top: 2.9rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
    h1 {
        color: #fff;
        letter-spacing: 8px;
    }
    .logo {
        cursor: pointer;
    }
}

@media screen and (max-width:550px) {
    .todo-container {
        margin-top: 1.5rem;
        width: 330px;
        h1 {
            font-size: 1.8rem;
        }
    }
}