.todo-items {
     :nth-child(1) {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    box-shadow: 0px 36px 52px -17px $lightmode-dark-grayish-blue;
    .todo-item {
        padding: 16px 1rem 15px;
        margin: 0;
        position: relative;
        background: #fff;
        border-bottom: 1px solid $lightmode-very-light-grayish-blue;
        .hide {
            opacity: 0;
            transition: opacity 0.2s;
            display: none;
        }
        &:hover {
            .hide {
                opacity: 1;
                display: block;
            }
        }
        .check {
            position: absolute;
            top: 23px;
            left: 21px;
            width: 2%;
            cursor: pointer;
        }
        .line {
            text-decoration: line-through;
            color: $lightmode-very-dark-grayish-blue;
        }
        .check-btn {
            background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%)) !important;
        }
        button {
            width: 4%;
            border: 1px solid $lightmode-light-grayish-blue;
            background: #fff;
            border-radius: 50%;
            padding: 9px;
            cursor: pointer;
            &:focus {
                outline: none;
            }
        }
        .cross {
            img {
                width: 80%;
                cursor: pointer;
            }
        }
        p {
            margin: 0;
            padding: 0 1rem;
            font-size: 13px;
            font-weight: 700;
        }
    }
}